.section {
  color: var(--mantine-color-dark-4);
}

.input {
  color: var(--mantine-color-blue-7);
}

.input::placeholder {
  color: var(--mantine-color-dark-4);
}

.inputFrom {
  border: none;
  border-right: 1px solid var(--mantine-color-gray-3);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.inputTo {
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2857;
  color: var(--mantine-color-gray-6);
}
